<a href="https://colab.research.google.com/github/gsaunders5761/ds2002s24/blob/main/json_hw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd
import json
import requests

#extract json data
url = "https://raw.githubusercontent.com/jasonwnc/ds2002s24/main/2.%20Python/coll%20bb_SortByConf.json"
response = requests.get(url)
json_data = response.text

#load json data
dict = json.loads(json_data)

#remove teams key
teams = dict['teams']

#pandas data frame
df = pd.DataFrame(teams)


# first 100 rows
print("First 100 rows of the DataFrame:")
print(df.head(100))

# a. # of teams
num_teams = df['tid'].nunique()
print("\na. Number of teams:", num_teams)

# b. # of teams in va
va_teams = df['tid'][df['state'] == 'VA']
print("\nb. Number of VA teams:", va_teams.count())

# c. duplicate mascots grouped by count
# find duplicates
duplicate_mascots = df[df.duplicated(subset=['name'], keep=False)]
# count + sort by how many
duplicate_mascots_count = duplicate_mascots.groupby('name').size()
print("\nc. Duplicate Mascots grouped by count:")
print(duplicate_mascots_count.sort_values(ascending=False))

First 100 rows of the DataFrame:
    tid  cid  did                region       name  abbrev  pop  \
0   159    0    0        Boston College     Eagles      BC  161
1   105    0    0               Clemson     Tigers    CLEM  215
2   109    0    0         Florida State  Seminoles     FSU  211
3    18    0    0            Louisville  Cardinals      UL  302
4    31    0    0  North Carolina State   Wolfpack    NCST  289
..  ...  ...  ...                   ...        ...     ...  ...
95  300    5   11    Jacksonville State  Gamecocks  JVILLE   20
96   72    6   12    Eastern Washington     Eagles   EWASH  248
97  139    6   12      Sacramento State    Hornets   SACST  181
98  239    6   12     Northern Colorado      Bears   NOCOL   81
99  266    6   12                 Idaho    Vandals      UI   54

             city state  latitude  longitude
0   Chestnut Hill    MA    42.330    -71.166
1         Clemson    SC    34.678    -82.839
2     Tallahassee    FL    30.442    -84.298
3      Louisville    KY    38.250    -85.766
4         Raleigh    NC    35.786    -78.682
..            ...   ...       ...        ...
95   Jacksonville    AL    33.815    -85.760
96         Cheney    WA    47.488   -117.578
97     Sacramento    CA    38.555   -121.468
98        Greeley    CO    40.416   -104.716
99         Moscow    ID    46.730   -117.000

[100 rows x 11 columns]

a. Number of teams: 320

b. Number of VA teams: 13

c. Duplicate Mascots grouped by count:
name
Bulldogs         13
Eagles           10
Tigers            9
Panthers          8
Wildcats          8
Huskies           5
Aggies            4
Owls              4
Bears             4
Cardinals         4
Spartans          4
Cougars           4
Hawks             4
Golden Eagles     4
Rams              4
Jaguars           3
Hornets           3
Pirates           3
Mountaineers      3
Redhawks          3
Cowboys           3
Terriers          3
Trojans           3
Broncos           3
Bobcats           3
Vikings           3
Rebels            2
Raiders           2
Mustangs          2
Titans            2
Pioneers          2
Phoenix           2
Roadrunners       2
49ers             2
Mavericks         2
Lumberjacks       2
Bison             2
Bisons            2
Bruins            2
Buccaneers        2
Bulls             2
Catamounts        2
Colonials         2
Crusaders         2
Dukes             2
Falcons           2
Gaels             2
Gamecocks         2
Highlanders       2
Knights           2
Lions             2
Wolverines        2
dtype: int64